{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}

{% block main %}
  <div class='react-tests'>
    <div id="hello-world"></div>
    <div class='select-test'>
      <label>How Many textboxes should appear?</label>
      <select>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <div id='textbox-no'>There are ONE selected</div>
      {# <div class='select-test-text'>
        <label>Text area for Option 1</label>
        <textarea></textarea>
      </div> #}
    </div>
  </div>
{% endblock %}
